services: 

  postgre: 
    image: postgres:13.16 
    restart: always 
    environment: 
      POSTGRES_USER: ecommerce 
      POSTGRES_DB: fakeshop 
      POSTGRES_PASSWORD: Pg1234 
    ports: 
      - "5432:5432" 
    volumes: 
      - postgre_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "ecommerce"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  ecommerce: 
    image: fabricioveronez/fake-shop 
    restart: always 
    environment: 
      DB_HOST: postgre 
      DB_USER: ecommerce
      DB_PASSWORD: Pg1234 
      DB_NAME: fakeshop  
      DB_PORT: "5432" 
      FLASK_APP: index.py
    ports: 
      - "5000:5000" 
    depends_on: 
       postgre:
         condition: service_healthy

volumes:
  postgre_data: 

  #alterações: 
  # senhas divergentes, 
  # trocado nome do banco e nome do usuario, 
  # adicionado healthcheck no serviço do postgre 
  # adicionado condition no depends_on do serviço ecommerce para garantir 
  #     que o banco esteja saudável antes de iniciar o ecommerce