services: 
  postgre: 
    image: postgres:13.16 
    restart: always 
    environment: 
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports: 
      - "${DB_PORT_EXTERNAL}:5432" 
    volumes: 
      - postgre_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "ecommerce"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  ecommerce: 
    image: fabricioveronez/fake-shop 
    restart: always 
    environment: 
      DB_HOST: postgre 
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_PORT: "5432" 
      FLASK_APP: index.py
      ENVIRONMENT: ${ENVIRONMENT}
    ports: 
      - "${APP_PORT}:5000" 
    depends_on: 
      postgre:
        condition: service_healthy

volumes:
  postgre_data:

  #comandos:
  # ambiente dev (porta 5001):      docker compose --env-file .dev.env up 
  # ambiente homolog (porta 5001):  docker compose --env-file .homolog.env up 
